<app-navbar></app-navbar>
<div class="banner">
  
    <h3 class="homeDescription">LE CARTABLE NUMÉRIQUE <br> POUR L'ÉCOLE PRIMAIRE</h3>
    <h5 class="homeSubDescription">Suivez simplement la scolarité de votre enfant grâce à une <br> <br> application gratuite et sans publicité pour les familles !</h5>
    <div class="icons">
      <img src="../../../assets/school/webFR.svg" alt="">
      <img src="../../../assets/school/androidFR.svg" alt="">
      <img src="../../../assets/school/webFR.svg" alt="">
    </div>
    <img class="img" src="../../../assets/school/Children.png" alt="">
    
</div>

<div class="bodyF">
  <div class="header">
      
    </div>
    <div class="row1-container">
      <div class="box box-down cyan">
        <h2>CARNET DE LIAISON</h2>
        <p>Recevez les messages en temps réel.
          Discutez en privé avec l'enseignant.
          Signez en ligne les messages.</p>
        <img src="../../../assets/school/admission.png" alt="">
      </div>
  
      <div class="box red">
        <h2>CAHIER DE TEXTES</h2>
        <p>Des devoirs classés par discipline.
          L'enseignant peut joindre des documents.
          Consultez en un coup d'oeil les jours à venir.</p>
        <img src="../../../assets/school/about.png" alt="">
      </div>
  
      <div class="box box-down blue">
        <h2>DOSSIER SCOLAIRE</h2>
        <p>Signez en ligne les livrets d'évaluation.
          Accédez aux livrets archivés.
          Téléchargez les documents en PDF.</p>
        <img src="../../../assets/school/determine.png" alt="">
      </div>
    </div>
    <div class="row2-container">
      <div class="box orange">
        <h2>PLUSIEURS ENFANTS</h2>
        <p>Consultez tous les cahiers en même temps.
          Message groupé à plusieurs enseignants.
          Gérez vous-même vos identifiants.</p>
        <img src="../../../assets/school/why.png" alt="">
      </div>
    </div>
</div>

<div >
  <p class="descrip">Vous êtes parent et vous souhaiteriez utiliser cette application ?

      3GL2 est un module de la suite applicative ITBS, utilisée par des dizaines de milliers de parents au quotidien. En savoir plus</p>
      
      <button routerLinkActive="active" routerLink="/login" class="button-24" role="button">Sign In</button>
</div>

<app-footer></app-footer>

 


